services:

    # Image
    app:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        depends_on:
            - redis
        networks:
            - Laravel-Jetstream-Docker-Setup

    # NGINX
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "8093:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/:/etc/nginx/conf.d/
        networks:
            - Laravel-Jetstream-Docker-Setup

    # DB (MySQL)
    db:
        image: mysql:8.0
        platform: linux/x86_64
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-laravel}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_PASSWORD: ${DB_PASSWORD:-userpass}
            MYSQL_USER: ${DB_USERNAME:-username}
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        ports:
            - "3443:3306"
        networks:
            - Laravel-Jetstream-Docker-Setup

    # PHPMyAdmin
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        platform: linux/x86_64
        restart: unless-stopped
        ports:
            - "8553:80"
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
        networks:
            - Laravel-Jetstream-Docker-Setup

    # Redis
    redis:
        image: redis:latest
        networks:
            - Laravel-Jetstream-Docker-Setup

    queue:
      build:
        context: .
        dockerfile: Dockerfile
      command: 'php artisan queue:work'
      restart: unless-stopped
      volumes:
        - ./:/var/www
      depends_on:
        - redis
      networks:
        - Laravel-Jetstream-Docker-Setup

networks:
    Laravel-Jetstream-Docker-Setup:
        driver: bridge
